<div class="outer">
  <div class="inner">
      <form (ngSubmit)="login()">
        <label for="user">User:</label>
        <input id="user" type="text" name="name" [(ngModel)]="name">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" [(ngModel)]="password">
        <div class="bb">
          <button>Login</button>
        </div>
      </form>
  </div>
</div>
