.inner {
  width:500px;
  height: 450px;
  margin: auto;
  padding-top:50px;
  border-spacing: 10px;

  text-align: center;
  background-color: rgba(2, 136, 209, 0.6);
  border-radius:10px;
}

.outer {
  width:500px;
  height: 450px;
  margin: auto;
  padding-top:50px;
  border-spacing: 10px;
  background-image: url("../../../assets/bilder/grafiken/hintergrund/2/hintergrundx2.png");
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.bb {
  padding-top: 50px;

}

input[type="text"], input[type="password"] {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 20px;
  padding-left:5px;
}

label {
  display: block;
  text-align: center;
  line-height: 150%;
  font-size: .85em;
}

.button {
  width:150px;
  height: 50px;
  font-size:18px;
  background-color:rgba(69, 38, 38, 0.6);
  color:#fff;
  border:#fff solid 1px;
}

.button:hover {
  background-color:#fff;
  color:#000;
  cursor: pointer;
}
