.wrapper {
  height: 100%;
  width: 100%;
  background: #333;
  overflow: hidden;
}

#header {
  position: fixed;
  top: 0;
  height: 20px;
  width: 100%;
  padding-left: 20px;
  text-align: left;
  background: #ddd;
  z-index: 100;
}

#upper {
  height: 70%;
  width: 100%;
}

#left, #right {
  position: relative;
  float: left;
  background: #222;
  width:48.5%;
  height: 100%;
  margin-left: 1%;
  color: #fff;
  overflow-y: auto;
}

#right input {
  position: absolute;
  top: -5px;
  left: 0;
  height: calc(100% + 5px);
  width: 100%;
}

#default-text {
  postion: absolute;
  margin-top: 40%;
  margin-left: 50%;
  color: #fff;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: translate(-50%, -50%);
}

.image-selector-image {
  margin-top: 40%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

#lower {
  position: relative;
  float: left;
  width: 98%;
  margin-left: 1%;
  margin-top: 1%;
  height: 30%;
  background: #222;
}

.screen {
  position: relative;
  float: left;
  border: 1px solid #ccc;
  box-sizing: content-box;
  width: calc(100% / 4 - 2px);
  height: calc(100% /2 - 6px);
}

.screen-image {
  margin: auto 0;
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}

.selectedScreen {
  border: 1px solid #0f0;
}

#addNew {
  background-image: url("../../../assets/add_circle_outline-24px.svg");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
}
