<div class="wrapper">
  <!--<div class="outer outerLeft">
    <img [src]="getScreen(1).content" alt="">
    <img [src]="getScreen(2).content" alt="">
    <img [src]="getScreen(3).content" alt="">
    <img [src]="getScreen(4).content" alt="">
  </div>
  <div class="outer outerRight">
    <img [src]="getScreen(5).content" alt="">
    <img [src]="getScreen(6).content" alt="">
    <img [src]="getScreen(7).content" alt="">
    <img [src]="getScreen(8).content" alt="">
  </div>-->
  <div id="header">
    Hello {{user}}
    <button id="protocolOpen" (click)="openProtocol()">
      Open Protocol
    </button>
  </div>
  <div id="upper">
    <div id="left" *ngIf="screens !== undefined && getScreen(currentScreen) !== undefined">
      <img class="image-selector-image" [src]="getScreen(currentScreen).content">
    </div>
    <div id="right" *ngIf="selectedScreen !== '-2'">
      <div id="default-text">Bild auswählen</div>
      <img class="image-selector-image" [src]="getScreen(selectedScreen).content" alt="">
      <input type="file" single (change)="onFileSelect($event)">
    </div>
    <div id="right" *ngIf="selectedScreen === '-2'">
      <div *ngFor="let item of protocol">{{getTimeStamp(item.ts)}}: {{item.name}}: {{item.content}}</div>
    </div>
  </div>
  <div id="lower">
      <div [ngClass]="screen.id===selectedScreen?'selectedScreen':''" class="screen" *ngFor="let screen of screens" (click)="selectedScreen = screen.id" (dblclick)="setCurrentScreen(screen.id)" (contextmenu)="onRighClick($event, screen.id)">
        <img class="screen-image" [src]="screen.content">
      </div>
      <div *ngIf="screens.length < 8" [ngClass]="selectedScreen=='-1'?'selectedScreen':''" class="screen" id="addNew" (click)="selectedScreen = '-1'"></div>
  </div>

</div>
